DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
XLS_PATH="/tmp/"
XLS_NAME="Report %Y-%m-%d.xlsx"
MAIL_FROM="Reports <user@sample.com>"
MAIL_TO="user@sample.com"
MAILSTO="user1@sample.com,user2@sample.com"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@sample.com
MAIL_PASSWORD=

